* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.main {
	/*padding: 200px auto;*/
	margin: 0px auto;
	background-color: yellow;
	padding-top: 50px;
	width: 100%;
}

.gridbox {
	background-color: brown;
	width: 610px;
	margin: 50px;
	padding: 20px;
}

.graybox {
	background-color: gray;
	width: 150px;
	height: 150px;
	margin: 20px;
	float: left;
	border-collapse: 
}

.clear:after {
	content: "";
	clear: both;
	display: block;
}